version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  opensearch:
    image: opensearchproject/opensearch:2.13.0
    container_name: opensearch
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - plugins.security.disabled=true
      - plugins.security.ssl.http.enabled=false
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=s]N1#g695!|e
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    networks:
      - backend

  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

  graylog:
    image: graylog/graylog:6.1
    container_name: graylog
    restart: always
    depends_on:
      - mongo
      - opensearch
    environment:
      GRAYLOG_ROOT_USERNAME: admin
      GRAYLOG_ROOT_PASSWORD_SHA2: 8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918   # senha: admin
      GRAYLOG_HTTP_EXTERNAL_URI: http://graylog:9000/
      GRAYLOG_PASSWORD_SECRET: minha_senha_secreta_com_mais_de_16
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: admin12
      GRAYLOG_OPENSEARCH_HOSTS: http://opensearch:9200
      GRAYLOG_ELASTICSEARCH_HOSTS: http://opensearch:9200
    ports:
      - "9000:9000"   # UI do Graylog
      - "12201:12201/udp"  # GELF UDP para logs
      - "12201:12201/tcp"  # GELF TCP
    networks:
      - backend

  springboot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot
    depends_on:
      - postgres
      - graylog
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/appdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      GRAYLOG_HOST: graylog
      GRAYLOG_PORT: 12201
    ports:
      - "8080:8080"
    networks:
      - backend

volumes:
  postgres_data:
  mongo_data:

networks:
  backend:
    driver: bridge
